BODY
{
	background-color: #E0DFE3;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.mainTable
{	
	width: 100%; 
	height: 100%; 
	padding: 25px;
	vertical-align: top;
}

.header
{
	background-color: #FFFFFF;
	height: 50px;
	padding-left: 25px;
	text-align: left;
	font-family: arial;
	font-weight: bold;
	font-size: 14px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-color: #666666;
}

.banner
{	
	height: 1px; 
	padding: 0px;
}
	

TD
{	
	font-family: arial; 
	font-size: 12px; 
	color: black;
}


#packageName
{
	font-family: arial; 
	font-weight: bold;
	font-size: 13px; 
}

.copyright
{
	font-size: 10px;
	text-align: center;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 5px;
}

.footnote
{
	font-size: 10px;
	text-align: left;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 5px;
	padding-top: 5px;
}

#SettingsButton
{
	font-size: 12px;
	position: absolute;
	right: 320px;
	bottom: 10px;
	width: 70px;
}

#DetailsButton
{
	font-size: 12px;
	position: absolute;
	right: 215px;
	bottom: 10px;
	width: 95px;
}

#RemindButton
{
	font-size: 12px;
	position: absolute;
	right: 90px;
	bottom: 10px;
	width: 115px;
}

#CancelButton
{
	font-size: 12px;
	position: absolute;
	right: 90px;
	bottom: 10px;
	width: 70px;
}

#NextButton
{
	font-size: 12px;
	position: absolute;
	right: 10px;
	bottom: 10px;
	width: 70px;
}


.progress
{	
	background-color: white;
	border-style: inset;
	border-width: 2px;
	width: 100%;
	height: 40px; 
}

#progressBar
{
	background-color: A565D6;

}

INPUT
{	
	font-family: arial; 
	font-size: 11px; 
	color: black;
}




