body { 
    margin: o;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, impact;
    background-color: #637577;
}

/* the left side just menu */
#jumpMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100vh;
    background-color: #620527;
    color: rgb(247, 244, 246);
    padding: 20px;
    box-sizing: border-box;

}

#jumpMenu a {

    color: rgb(6, 6, 6);
    text-decoration: none;
    display: block;
    margin: 10px 0;

}

header {
    position: fixed; 
    top: 0;
    left: 20%;
    width: 80%;
    background-color: #4a2a2e;
    color: white;
    padding: 2px 0;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    
}

header p {
    font-size: 40px;
    margin: 10px 0;
}
 
header nav button {
    font-size: 20px;
}

/* main content area */

main {
     margin-left: 20%;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    gap : 20px;
}

article {
    width: 300px;
    background-color: #b0aaaa;
    border: 1px solid #030303;
    padding: 15px;
    box-sizing: border-box;
}
 h1 {
    font-size: 30px;
    text-align: center;
    
}
article h2 {
    font-size: 24px;
}

/* the thankyou box */

#thanks {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #bc94b1;
    border: 2px solid #000000;
    padding: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}




